html, body {
	margin: 0;
	padding: 0;
}
nav {
    background-color: rgb(116, 116, 116);
    position: relative;
	margin: 0px;
	text-align: center;
	border-radius: 1px;
}
nav a {
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    color: white;
}
nav a:hover {
	background-color: rgba(0, 0, 0, 0.05);
}
.container {
	text-align: center;
	margin-top: 10px;
}

.container .content {
	text-align: left;
	background-color: rgba(182, 182, 182, 0.05);
	border-radius: 30px;
	padding: 100px;
	display: inline-block;
	width: 100%;
	max-width: 50px;
}

